@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}
.primary-btn {
  text-transform: uppercase;
  display: inline-block;
  background-color: #12b3bf;
  padding: 12px 24px;
  color: white;
  font-family: poppins;
  font-weight: 300;
}

/*=============  
top navbar start 
=============*/

.top-navbar {
  background-color: #12b3bf;
  padding: 10px 0;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact-type {
  display: flex;
  gap: 5px;
  align-items: center;
  color: #ffffff;
}
.top-navbar .child {
  display: flex;
  gap: 60px;
}
.contact-type img {
  width: 20px;
  height: 20px;
}
/*=============  
top navbar end 
=============*/

/*=============  
hero section start
=============*/
.hero-section {
  background-image: url(images/banner@3x.png);
  background-position: center;
  background-size: cover;
}
.primary-nav {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.primary-nav .child {
  display: flex;
  gap: 32px;
  align-items: center;
}
.logo {
  width: 350px;
  height: 73px;
}
.hamburger-icon {
  width: 32px;
  height: 20px;
}
.tagline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 252px 0 380px;
}
h1 {
  text-align: center;
  max-width: 470px;
  font-family: Poppins;
  font-size: 48px;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 32px;
}
h1 span {
  color: transparent;
  -webkit-text-stroke: 1px #fff; /* for Safari/WebKit browsers */
  text-stroke: 1px #fff;
}
/*=============  
hero section end
=============*/

/*=============  
CTA section start
=============*/
.cta-section {
  margin: 73px auto;
  text-align: center;
}
.cta-section h3 {
  max-width: 753px;
  margin: 0 auto 25px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #314553;
}

.cta-section p {
  max-width: 697px;
  margin: 0 auto;
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #314553;
}
.cta-section h3 span {
  font-weight: 600;
  color: black;
}
.cta-section p span {
  display: inline-block;
  margin: 20px 0px;
}
.cta-section a {
  text-align: center;
}
/*=============  
CTA section end
=============*/
